<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628428852056-tuaa6qm3nm9fhs540ca1e8t95jab3bmi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628428852056-tuaa6qm3nm9fhs540ca1e8t95jab3bmi</string>
	<key>API_KEY</key>
	<string>AIzaSyDFtGih3EhJRhvpnZQmL6E7sHvU_fdf7LM</string>
	<key>GCM_SENDER_ID</key>
	<string>628428852056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emmcare</string>
	<key>PROJECT_ID</key>
	<string>emmca-375605</string>
	<key>STORAGE_BUCKET</key>
	<string>emmca-375605.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628428852056:ios:6e42afab84c054afeeb32d</string>
</dict>
</plist>